<div class="row">

<h3>Activities</h3>
<div class="bootcards-list">
  <div class="panel panel-default">
    <div class="list-group">
      {{#each controller}}
        <a class="list-group-item" target="#">
          <h4 class="list-group-item-heading">{{{ name }}}</h4>
          <p> {{{ task }}} </p>
          <p> {{{ project }}} </p>
        </a>
      {{/each}}
    </div>
  </div>
</div>

</div>
