<h3>Activities</h3>
<div class="row">

<div class="bootcards-list">
  <div class="panel panel-default">
    <div class="list-group">
      {{#each controller}}
      <a target="#" {{bind-attr class="isAvailable"}} >
          <h4 class="list-group-item-heading">{{{ name }}}</h4>
          <p class="list-group-item-text"> {{{ task }}} </p>
          <p class="list-group-item-text"> {{{ project }}} </p>
        </a>
      {{/each}}
    </div>
  </div>
</div>

</div>
