<h3>Activities</h3>

<div class="table-responsive">
   <table class="table table-bordered">
      <thead>
         <td>Developer</td>
         <td>Activity</td>
      </thead>
      <tbody>
         {{#each model}}
         <tr>
            <td>{{{ name }}}</td>
            <td>{{{ task }}}</td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</div>
